@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, iframe, h1, h2, h3, h4, h5, p, a, img, ul, li, table, tr, th, td, tbody, footer, header, main, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #231815;
  font-family: "Yu Mincho", YuMincho, -apple-system, BlinkMacSystemFont, "Segoe UI", "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, serif;
  font-size: 18px;
  color: #fff;
}

a {
  text-decoration: none;
}

p {
  font-family: "Yu Gothic", YuGothic;
}

.flex_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

li, ol {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

section {
  padding: 25px 0;
}

.container {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

.inner {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.wrap {
  overflow: hidden;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.padding {
  padding-top: 70px;
}

.section-title {
  width: 500px;
  margin: 30px auto;
  padding: 20px 0;
  border-top: 1px solid #b7a15f;
  border-bottom: 1px solid #b7a15f;
  font-family: "游明朝", YuMincho, 'Noto Serif JP', serif;
  font-size: 37px;
  font-weight: bold;
  color: #b7a15f;
  text-align: center;
}

#access, #store {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

header {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  z-index: 100;
}

.header_inner {
  padding: 0px 10px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
}

.header_inner nav {
  width: 55%;
}

.header_inner nav .header-nav__list {
  width: 100%;
  margin-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.header_inner nav .header-nav__list-item__text {
  padding-bottom: 5px;
  color: #231815;
  cursor: pointer;
  font-size: 19px;
  font-family: "Yu Gothic", YuGothic;
  font-weight: bold;
}

@media (max-width: 768px) {
  .header_inner nav .header-nav__list-item__text {
    font-size: 12px;
  }
}

.header_inner nav .header-nav__list-item__text:hover {
  border-bottom: 2px solid #e50012;
}

.header_inner nav .header-nav__list-item__text .fa-globe {
  margin-right: 5px;
}

.reservation {
  padding: 5px 10px;
  margin-top: -5px;
  background-color: #e50012;
  border-radius: 10px;
  font-family: "Yu Gothic", YuGothic;
  font-weight: bold;
}

@media (max-width: 768px) {
  .reservation {
    padding: 0px 10px;
    margin-top: 0;
  }
}

.reservation-text {
  color: #fff;
}

@media (max-width: 768px) {
  .reservation-text {
    font-size: 12px;
  }
}

.dropdown-menu__list {
  display: none;
  position: absolute;
  top: 150%;
  left: 55%;
  background-color: rgba(255, 255, 255, 0.9);
  width: 200px;
}

.dropdown-menu__list-item {
  padding: 10px 0 0 10px;
  height: 45px;
  border-top: 1px solid #231815;
}

.dropdown-menu__list-item:hover {
  background-color: #f8f8f8;
}

.dropdown-menu__list-item__link {
  color: #231815;
  display: block;
  position: relative;
}

.dropdown-menu__list-item__link .fa-chevron-right {
  position: absolute;
  top: 3px;
  right: 20px;
}

.header-nav__menu {
  margin: 0 auto;
  background-color: #231815;
  opacity: .95;
}

.header-nav__menu .header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-nav__menu-button {
  display: block;
  float: right;
  margin: 0 auto;
  position: relative;
  width: 40px;
  height: 30px;
}

.header-nav__menu-button, .header-nav__menu-buttonspan {
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-nav__menu-button span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #231815;
  -webkit-transition: top .5s ease, -webkit-transform .6s ease-in-out;
  transition: top .5s ease, -webkit-transform .6s ease-in-out;
  transition: transform .6s ease-in-out, top .5s ease;
  transition: transform .6s ease-in-out, top .5s ease, -webkit-transform .6s ease-in-out;
}

.header-nav__menu-button span:nth-of-type(1) {
  top: 0;
}

.header-nav__menu-button span:nth-of-type(2) {
  top: 13px;
}

.header-nav__menu-button span:nth-of-type(3) {
  bottom: 0px;
}

.open .header-nav__menu-button span {
  background: #231815;
}

.open .header-nav__menu-button span:nth-child(1) {
  top: 15px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.open .header-nav__menu-button span:nth-child(2) {
  top: 15px;
  width: 0;
  left: 50%;
}

.open .header-nav__menu-button span:nth-child(3) {
  top: 15px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header-nav__menu-list {
  display: none;
  text-align: center;
  padding: 10px 15px;
}

.header-nav__menu-item {
  padding: 10px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #fff;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}

.header-nav__menu-item__text {
  background-color: #231815;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  display: block;
  width: 100%;
  font-size: 20px;
}

.slider {
  width: 100%;
  padding-top: 70px;
}

.slider .slide_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider .slide_list img {
  width: 100%;
  height: 35vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.commit-title {
  margin: 20px auto 40px;
  width: 100%;
  max-width: 550px;
}

.commit-list_item {
  margin: 30px auto;
}

.commit .commit-item__title {
  margin: 5px auto;
  font-size: 26px;
  color: #b7a15f;
}

.difference-block {
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .difference-block {
    display: block;
  }
}

.difference-block .difference-list {
  width: 50%;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .difference-block .difference-list {
    width: 95%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .difference-block .difference-img {
    width: 85%;
    margin: 0 auto;
  }
}

.difference-list__item {
  margin-bottom: 50px;
}

.difference-title {
  border-bottom: dotted 1px #fff;
  border-left: solid 7px #fff;
  text-indent: 0.8em;
  font-size: 25px;
  font-weight: bold;
  margin-top: 14px;
  margin-bottom: 14px;
}

.menu {
  text-align: center;
}

@media (max-width: 768px) {
  .menu .menu-list {
    display: block;
  }
}

.menu_list > li:first-child {
  padding-bottom: 10px;
}

.menu_list > li + li {
  padding: 10px 0;
}

.menu-list__item {
  width: 30%;
  margin: 40px auto 0;
}

@media (max-width: 768px) {
  .menu-list__item {
    width: 70%;
  }
}

.menu-list__item a {
  display: block;
  color: #fff;
}

.menu-list__item a img {
  width: 100%;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  .menu-list__item a img {
    width: 100%;
    height: 100%;
  }
}

.menu-list__item a .menu-list__item-title {
  padding: 10px 0;
  font-size: 26px;
  font-weight: bold;
  border-bottom: 1px solid #fff;
}

.menu-list__item a .menu-list__item-title__text {
  margin-top: 15px;
  text-align: left;
}

/* ポップアップ */
.content {
  width: 200px;
  margin: 30px 0 0 auto;
  padding: 5px;
  background-color: #df600e;
}

@media (max-width: 768px) {
  .content {
    margin: 35px auto 0;
  }
}

.content .js-modal-open {
  color: #fff;
  display: block;
  font-family: "Yu Gothic", YuGothic;
}

.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content {
  background: #fff;
  left: 40%;
  padding: 40px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60%;
}

.modal__content .js-modal-close {
  margin-top: 15px;
  color: #000;
  display: block;
}

/* スライダー2 */
.introduction-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#slider_main {
  margin: 0 auto;
  width: 500px;
  height: 335px;
  text-align: left;
  position: relative;
  overflow: hidden;
}

#slider_main ul {
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

#slider_main ul::after {
  content: ".";
  height: 0;
  clear: both;
  display: block;
  visibility: hidden;
}

#slider_main ul li {
  width: 500px;
  height: 335px;
  display: inline;
  overflow: hidden;
}

#slider_thumb {
  margin: 0 auto;
  width: 500px;
  height: 335px;
  text-align: center;
}

@media (max-width: 768px) {
  #slider_thumb {
    margin: 20px auto;
  }
}

#slider_thumb ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

#slider_thumb ul li {
  width: 160px;
  margin: 1px;
  cursor: pointer;
  display: inline;
}

#slider_thumb .introduction-text {
  text-align: left;
  margin-top: 10px;
}

.info {
  max-width: 800px;
  width: 95%;
  margin: 0 auto;
  max-width: 750px;
  font-family: "Yu Gothic", YuGothic;
}

.info .info-title {
  margin: 30px 0;
  font-size: 26px;
}

.info .info-list__text {
  margin: 5px 0 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
}

.thought-text {
  max-width: 850px;
  width: 95%;
  margin: 0 auto;
  line-height: 2;
  font-family: "Yu Mincho", YuMincho;
}

.thought-text-en {
  max-width: 705px;
}

.thought-img {
  width: 150px;
  margin: 0 0 0 auto;
}

.access .map {
  margin-top: 15px;
}

.store-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.store-inner .store-details__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.store-inner .store-details__item-title {
  width: 100px;
  text-align: center;
  background-color: #717071;
}

.store-inner .store-details__item-text {
  margin-left: 10px;
}

.store-inner .store-details__item .style-effect {
  padding-top: 15px;
}

.store-inner .store-details__item .style-effect_2 {
  padding-top: 25px;
}

.store-inner .store-details__item .tel {
  color: #fff;
  font-size: 18px;
}

.store-inner .store-img {
  width: 45%;
}

.store-inner .store-img .store_img {
  width: 450px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ボタン全体 */
.btn {
  border-radius: 13px;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 33px;
  color: #fff !important;
  -webkit-transition: .5s;
  transition: .5s;
  text-decoration: none;
}

.btn:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.btn i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* ulタグの内側余白を０にする */
ul.share-list {
  padding: 0;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* アイコンボタン同士の余白 */
}

ul.share-list li {
  margin: 0 15px;
  text-align: center;
}

/* Twitter */
.twitter {
  background: #55acee;
}

/* facebook */
.facebook {
  background: -webkit-gradient(linear, left top, left bottom, from(#5c80c6), color-stop(74%, #34528c));
  background: linear-gradient(to bottom, #5c80c6 0%, #34528c 74%);
}

.facebook .fa-facebook-f {
  position: relative;
  top: 23px;
  left: 17px;
  font-size: 43px;
}

/* instagram */
.instagram {
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  overflow: hidden;
}

.instagram::before {
  content: '';
  position: absolute;
  top: 27px;
  left: -12px;
  width: 59px;
  height: 40px;
  background: radial-gradient(#ffdb2c 7%, rgba(255, 105, 34, 0.3) 60%, rgba(255, 88, 96, 0) 70%);
}

.instagram .fa-instagram {
  font-size: 40px;
}

footer {
  height: 150px;
  padding-top: 50px;
  text-align: center;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer ul li {
  margin: 0 10px;
}
/*# sourceMappingURL=style_20200110.css.map */